.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #0e0219;
}

.navbar h2 a {
    opacity: 1;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.new-btn {
    font-weight: bold;
    border: 1px solid #f4f4f4;
    padding: .5rem 1rem;
    border-radius: 1rem;
    opacity: 1;
    transition: .3s ease-in-out;
}

.new-btn:hover {
    border: 1px solid #fff5;
}

.new-btn:active {
    background-color: #fff5;
}