.btn {
  background-color: #222;
  color: aliceblue;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: none;
}

.btn:hover {
  color: #ffbb33;
}
